<main class="fondo">
    <div class="holder">
        <h4>Categorias</h4>
        <div class="cuerpo">
            <div class="photo">
                <img src="images/cursos/datos.jpg" alt="datos">
                <div class="text1">
                    <h3>Datos</h3>
                </div>
            </div>
            <div class="photo">
                <img src="images/cursos/diseño.jpg" alt="diseño">
                <div class="text2">
                    <h3>Diseño</h3>
                </div>
            </div>
            <div class="photo">
                <img src="images/cursos/marketing.jpg" alt="marketing">
                <div class="text3">
                    <h3>marketing</h3>
                </div>
            </div>
            <div class="photo">
                <img src="images/cursos/testing.jpg" alt="testing">
                <div class="text4">
                    <h3>Testing</h3>
                </div>
            </div>
        </div>
    </div>
</main>